@import url('highlighter/dark.css');

/* general */

* {
  scrollbar-base-color: #191919;
  scrollbar-face-color: #34363c;
  scrollbar-3dlight-color: #191919;
  scrollbar-highlight-color: #191919;
  scrollbar-track-color: #191919;
  scrollbar-arrow-color: #34363c;
  scrollbar-shadow-color: #191919;
}

::-webkit-scrollbar {
  background-color: #191919;
}

::-webkit-scrollbar-track {
  background-color: #191919;
}

::-webkit-scrollbar-thumb {
  background-color: #34363c;
  border: 2px solid #191919;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #474a52;
}

::-webkit-scrollbar-corner {
  background-color: inherit;
}

::-ms-expand {
  background-color: #191919;
  color: #34363c;
  border-color: #191919;
}

hr {
  border-color: #191919;
  background-color: #353535;
}

select {
  border-color: #353535;
  background-color: #191919;
  color: inherit;
}

/* theme.css */

body {
  background-color: #191919;
  color: #D1D1D1;
}

h1 {
  color: inherit;
}

h2 {
  color: #a25a5a;
}

h3 {
  color: #428242;
}

h4.func_section {
  color: #a25a5a;
  border-bottom-color: #2e2e2e;
}

h1, h2, h3, h4 {
  border-bottom-color: #353535;
}

a:link, a:visited, a:visited:hover {
  color: #8ab4f8;
}

pre, code {
  background-color: #262525;
}

.Syntax {
  background-color: #3e3823;
  border-color: #443b1c;
}

.Syntax span.func {
  color: #ffa;
}

table.info td {
  border-color: #353535;
}

table.info th {
  background-color: #191919;
  border-color: #353535;
}

table.info tr.sep_below {
  border-bottom-color: #353535;
}

.blue {
  color: royalblue;
}

.note {
  border-left-color: #90b790;
  background-color: #293029;
  color: #90b790;
}

.warning {
  border-left-color: #d2aeae;
  background-color: #2f2a26;
  color: #d2aeae;
}

blockquote {
  background-color: #2e2e2e;
}

.methodShort {
  border-color: #353535;
}

.methodShort h2, .methodShort h3 {
  color: inherit;
}

.methodShort:target {
  border-color: inherit;
}

dt {
  color: inherit;
}

dd {
  border-left-color: #353535;
}

kbd {
  border-color: #202124;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #353535 inset;
  color: #D1D1D1;
  background-color: #202124;
  text-shadow: 0 1px 0 #000;
}

.ex {
  border-color: #353535;
}

.regex {
  background-color: #382d1f;
}

.subj {
  background-color: #233523;
}

/* content.css */

.lds-dual-ring:after {
  border-color: #a3a3a3 transparent #a3a3a3 transparent;
}

#right .footer {
  border-top-color: #353535;
}

#right .back-to-top {
  background-color: #171717;
  color: #a3a3a3;
}

#right pre.parent > div.buttons > a {
  background-color: #171717;
  color: #a3a3a3;
}

#right table.mobile {
  border-color: #353535;
}

#right table.mobile tbody {
  border-top-color: #353535;
}

#right table.mobile tbody > tr:first-child {
  background-color: #191919;
}

#right table.mobile td:first-child {
  background-color: #191919;
}

#right .deprecated {
  color: indianred;
  border-bottom-color: indianred;
}

#right .anchor_highlight {
  background-color: #693d14;
}

pre.origin em, code em {
  color: #6a9955;
}

html,
body,
.inputbox,
.panel,
.bg2,
.codebox,
.codebox code,
.section-posting .bg3.panel,
#message-box textarea,
.forabg ul.topiclist li.row, .forumbg ul.topiclist li.row {
  background-color: #191919;
  border-color: #191919;
}


.bg1 {
  background-color: #1d1c1c;
}

.wrap {
  max-width: 98%;
  min-width: 98%;
  background-color: #191919;
  border-color: #191919;
  color: #191919;
}

blockquote cite {
  color: #6A71D2 !important;
}

.inline_code {
  font-family: Maple mono !important;
  color: #ff7df4;
  background: #281c28;
  overflow: visible;
  display: inline-block;
  border-radius: 6px;
}

.codebox code {
  background-color: #191919;
  background-image: none;
}

kbd {
  border: 0px;
  border-radius: 3px;
  box-shadow: none;
  color: #fac84d;
  background-color: #312b26;
  text-shadow: none;
  white-space: nowrap;
}

bg1 {
  background-color: #191919;
  color: #A968F6;
  background-image: none;
}

#left .input input.match,
.Syntax,
.button,
.search-box,
.search-box .inputbox,
a.button1,
a.button2,
input.button1,
input.button3,
input.button2,
.tabs .tab > a,
blockquote {
  background-color: #2b2b2b;
  color: #333333;
  border-radius: 6px;
}

button, input, optgroup, select {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 6px;
}

pre.origin em, code em,
.highlight .cmt {
  font-family: Maple Mono NF CN !important;
  color: #828282;
}

.highlight>.dec, .highlight>.cfs, .highlight>.dir {
  font-family: Maple Mono NF CN !important;
  color: #f892ef;
}

.highlight>.biv {
  font-family: Maple Mono NF CN !important;
  color: #92f8a2;
}

.highlight .str>.esc {
  font-family: Maple Mono NF CN !important;
  color: #F73A6B;
}

.highlight>.opr, .highlight>.opt, .Syntax span.optional:before, .Syntax span.optional:after {
  font-family: Maple Mono NF CN !important;
  color: #e72265d9;
}

.highlight>.str {
  font-family: Maple Mono NF CN !important;
  color: #48e048;
}

.highlight>.num {
  font-family: Maple Mono NF CN !important;
  color: #98aff9;
}

.Syntax span.func,
.highlight span>a,
.highlight>.cmd, .highlight>.fun {
  color: #70a5eb;
  font-family: Maple Mono NF CN !important;
}

.highlight>.lab {
  color: #6DBBE6;
  font-family: Maple Mono NF CN !important;
}

.highlight>.met {
  color: #2200FFD6;
  font-family: Maple Mono NF CN !important;
}

.highlight>.hot {
  font-family: Maple Mono NF CN !important;
  color: #FEF324;
}

.highlight>.prp {
  color: #fac84d;
  font-family: Maple Mono NF CN !important;
}