html {
    color: #fdfdfd;
    background-color: #191919;
}
body {
    max-width: 100%;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}
blockquote, div.sourceCode {
    border-radius: 6px;
    padding: 0.5em;
    border: none;
    background-color: #202020;
}
code {
    padding: 0 .2em;
    background-color: #202020;
    border-radius: 3px;
    white-space: pre-wrap;
    font-family: 'Maple Mono NF CN';
    margin: 0;
    hyphens: manual;
}
code span {
    font-style: normal !important;
    font-weight: normal !important;
}

code > * {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    font-family: inherit;
}

/* Attribute */
code span.at {
    color: #3e7277;
}
/* BaseN */
code span.bn {
    color: #40a070;
}
/* Built-in function */
code span.bu {
    color: #8080ff;
    font-weight: bold !important;
}
/* ControlFlow */
code span.cf {
    color: #f892ef;
}
/* Comment */
code span.co {
    color: #808080;
}
/* Float */
code span.fl {
    color: #98aff9;
}
code span.dv {
    color: #73b9ff;
}
/* Function */
code span.fu {
    color: #6278df;
}
/* Member */
code span.fl {
    color: #e9e189;
}
/* Keyword */
code span.kw {
    color: #ff80f9;
}
/* Operator */
code span.op {
    color: #e72265d9;
}
/* Other */
code span.ot {
    color: #878ed1;
}
/* SpecialString, RegEx */
code span.ss {
    color: #008040;
}
/* RegEx char */
code span.bn {
    color: #c1cb50;
}
/* String */
code span.st {
    color: #5cd147;
}
/* String char */
code span.sc {
    color: #61bc66;
}
/* Variable */
code span.va {
    color: #92f8a2;
}
/* Deref */
code span.im {
    color: #fea54b;
}
/* Type (object) */
code span.dt {
    color: #a535ff;
}
/* Directive */
code span.pp {
    color: #01765f;
}
/* Constant */
code span.cn {
    color: #fe747e;
}
/* Hotkey */
code span.vs {
    color: #fef324;
}
/* TODOs, NOTEs, ... */
code span.al {
    color: #00ffff;
}
/* Documentation (JsDoc) */
code span.do { 
    color: #aeaeae;
}
/* @returns, unset, maybe? */
code span.an { 
    color: #60a0b0;
}
/* @param name (variable) */
code span.cv { 
    color: #00ffff;
}
/* Warning */
code span.wa { 
    color: #fd8933;  
}
/* Error */
code span.er { 
    color: #ff1515;
    font-style: italic !important;
}
/* Region, reference */
code span.re { 
    color: #fd82b3;
}